@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
	text-orientation: center;
	text-align: center;
	background-image: url("https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=74553159742c7cf05c6eb04baabc408cs");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
	text-align: center;

}

h1 { color: white;
	font-size: 24px;
	font-weight: bolder; 
	text-align: center;
	}

h2 { color: white; }	
p { 
	color: white;
	font-size: 16px; }

ul { color: white;
    text-align: center;
    list-style-type: none;
}

li { color: white;
	font-weight: bold;
}

img 

}

#slogan {
	font-style: italic;
}